include LICENSE
include README.md
include src/paradoc/resources/template.docx
include src/paradoc/resources/template_blank.docx
include src/paradoc/rules/resources/*.json
include src/paradoc/svg/templates/*.svg
include src/paradoc/svg/templates/titleblocks/*.svg