name: ci-branch-tests


on: push

concurrency:
  group: paradoc-quick-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.1 # https://github.com/prefix-dev/setup-pixi
        with:
          pixi-version: v0.55.0
          environments: test
          cache: true

      - name: Runs Tests
        run: pixi run test